<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>homework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>location</param-name>
    <param-value>c:/a/b/c/some.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet2</servlet-name>
    <servlet-class>kr.or.kosta.servlet.HelloServlet2</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.OracleDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet2</servlet-name>
    <url-pattern>/hello2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MIMEServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.MIMEServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIMEServlet</servlet-name>
    <url-pattern>/mime.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MusicServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.MusicServlet</servlet-class>
    <init-param>
      <param-name>path</param-name>
      <param-value>C:\\KOSTA187\\workspace\\ServletStudy\\WebContent\\asset\\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicServlet</servlet-name>
    <url-pattern>/music.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifecycleServlet</display-name>
    <servlet-name>LifecycleServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.LifecycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifecycleServlet</servlet-name>
    <url-pattern>/cycle.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpServletRequestServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.HttpServletRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletRequestServlet</servlet-name>
    <url-pattern>/view.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiveServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.ReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveServlet</servlet-name>
    <url-pattern>/receive.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpServletResponseServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.HttpServletResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletResponseServlet</servlet-name>
    <url-pattern>/response.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>PracticeServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.PracticeServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Steve</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PracticeServlet</servlet-name>
    <url-pattern>/practice.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/database.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DatabaseServlet2</servlet-name>
    <servlet-class>kr.or.kosta.servlet.DatabaseServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet2</servlet-name>
    <url-pattern>/dbtwo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.ServletConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigServlet</servlet-name>
    <url-pattern>/config.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatchServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.DispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchServlet</servlet-name>
    <url-pattern>/dispatch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.HttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet</servlet-name>
    <url-pattern>/session.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConterServlet</display-name>
    <servlet-name>ConterServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.ConterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConterServlet</servlet-name>
    <url-pattern>/counter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Practice2Servelt</display-name>
    <servlet-name>Practice2Servelt</servlet-name>
    <servlet-class>kr.or.kosta.servlet.Practice2Servelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Practice2Servelt</servlet-name>
    <url-pattern>/practice2.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  
</web-app>